[submodule "mods/moreblocks"]
	path = mods/moreblocks
	url = https://github.com/minetest-mods/moreblocks.git
[submodule "mods/player_api"]
	path = mods/player_api
	url = https://github.com/minetest-game/player_api.git
[submodule "mods/mapblock_lib"]
	path = mods/mapblock_lib
	url = https://github.com/BuckarooBanzay/mapblock_lib.git
[submodule "mods/mtzip"]
	path = mods/mtzip
	url = https://github.com/BuckarooBanzay/mtzip
