[submodule "mods/moreblocks"]
	path = mods/moreblocks
	url = https://github.com/minetest-mods/moreblocks.git
[submodule "mods/player_api"]
	path = mods/player_api
	url = https://github.com/minetest-game/player_api.git
[submodule "mods/mapblock_lib"]
	path = mods/mapblock_lib
	url = https://github.com/BuckarooBanzay/mapblock_lib.git
[submodule "mods/mtzip"]
	path = mods/mtzip
	url = https://github.com/BuckarooBanzay/mtzip
[submodule "mods/street_signs"]
	path = mods/street_signs
	url = https://github.com/mt-mods/street_signs
[submodule "mods/signs_lib"]
	path = mods/signs_lib
	url = https://github.com/mt-mods/signs_lib/
[submodule "mods/unifieddyes"]
	path = mods/unifieddyes
	url = https://github.com/mt-mods/unifieddyes
[submodule "mods/building_lib_overview"]
	path = mods/building_lib_overview
	url = https://github.com/BuckarooBanzay/building_lib_overview
[submodule "mods/building_lib"]
	path = mods/building_lib
	url = https://github.com/BuckarooBanzay/building_lib
[submodule "mods/promise"]
	path = mods/promise
	url = https://github.com/mt-mods/promise
[submodule "mods/wield_events"]
	path = mods/wield_events
	url = https://github.com/mt-mods/wield_events
